@import "mixins";

.about-us {
  @include display-flex();
  position: relative;
  height: 100%;

  .about {
    width: 100%;
    padding: 0 15vw;

    .image-wrapper {
      @include display-grid(
        0,
        1fr 1fr,
        1.3fr 1.3fr,
        "about-1 about-2" "about-1 about-3"
      );
      margin: 30px 0 15px 0;

      .about-1 {
        grid-area: about-1;
        width: 100%;
        align-self: stretch;
      }

      .about-2 {
        grid-area: about-2;
        width: 100%;
        align-self: stretch;
      }

      .about-3 {
        grid-area: about-3;
        width: 100%;
        align-self: stretch;
      }
    }

    .about-description {
      font-size: 0.8rem;
    }
  }
}

@include breakpoint(tablet) {
  .about-us {
    .about {
      @include display-grid(30px 20px, 6fr 4fr, auto, "title title" "img desc");

      .image-wrapper {
        grid-area: img;
        margin: 0;
      }

      .about-description {
        font-size: 0.9rem;
        grid-area: desc;
      }
    }
  }
}

@include breakpoint(laptop) {
  .about-us {
    .about {
      @include display-grid(50px 50px, 6fr 4fr, auto, "title title" "img desc");

      .image-wrapper {
        grid-area: img;
        margin: 0;
      }

      .about-description {
        font-size: 1rem;
        grid-area: desc;
      }
    }
  }
}
