@import "mixins";
@import "variables";

.home {
  @include display-flex();
  position: relative;
  height: 100%;

  .welcome {
    position: relative;
    font-size: 1rem;

    img {
      width: 100%;
    }

    .absolute {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 10vw 13vw;
      @include display-grid(7px 0, auto, auto, "tagline" "desc" "explore");

      .tagline {
        font-family: $font-family-headings;
        color: $white;
        // font-size: 1.5rem;
        font-size: 6vw;
      }
      .description {
        color: $white;
        // font-size: 0.7rem;
        font-size: 2.7vw;
        margin-left: 10vw;
      }
      .explore {
        color: $white;
        // font-size: 0.75rem;
        font-size: 2.75vw;
        margin-left: 10vw;
        text-decoration: underline;
      }
    }

    .scroll-down {
      position: absolute;
      @include display-flex(center, center, row);
      font-size: 2vw;
      transform: rotate(90deg);
      color: $white;
      top: 200px;
      left: -30px;

      .line {
        display: block;
        width: 30px;
        height: 0.5vw;
        background-color: $white;
        margin: 0 10px 0 0;
      }
    }
  }

  .latest-product {
    margin: 40px 0 40px 0;
    @include display-flex();
    width: 100%;

    p {
      @include page-title();
    }

    span {
      @include page-line();
    }
  }
  .products {
    @include display-grid(40px 0);

    img {
      width: 200px;
    }
  }
}

@include breakpoint(tablet) {
  .home {
    .latest-product {
      margin-bottom: 50px;
    }

    .welcome {
      .absolute {
        padding: 12vw 15vw;

        .tagline {
          font-size: 6vw;
        }

        .description {
          font-size: 1.1rem;
        }

        .explore {
          font-size: 1.2rem;
        }
      }

      .scroll-down {
        font-size: 1rem;

        .line {
          width: 30px;
          height: 3px;
        }
      }
    }

    .products {
      @include display-grid(50px 70px, 1fr 1fr, auto, none);
    }
  }
}

@include breakpoint(laptop) {
  .home {
    .welcome {
      .absolute {
        padding: 15vw 19vw;

        .tagline {
          font-size: 6vw;
        }

        .description {
          font-size: 1.5vw;
        }

        .explore {
          font-size: 1.8vw;
        }

        .scroll-down {
        }
      }
    }

    .latest-product {
      margin-bottom: 60px;

      p {
        font-size: 1.3rem;
      }

      span {
        width: 170px;
      }
    }

    .products {
      @include display-grid(80px 80px, 1fr 1fr 1fr, auto, none);
    }
  }
}
