@import "mixins";
@import "variables";

.navbar {
  width: 100%;
  padding: 20px 30px 40px 30px;
  @include display-flex();
  position: relative;

  .brand-name {
    font-family: $font-family-logo;
    margin-bottom: 30px;
  }

  .menu-wrapper {
    @include display-flex();
    width: 100%;

    .button-wrapper {
      width: 100%;
      @include display-flex(space-between, center, row);

      .menu-bars {
        border: none;
        background-color: transparent;
        cursor: pointer;

        .menu-bars-icon {
          font-size: 1.5rem;
        }
      }

      .btn-right {
        @include display-flex(center, center, row);

        .shopping-bag {
          cursor: pointer;
          background-color: $black;
          border: none;
          border-radius: 30px;
          width: 30px;
          height: 30px;

          .shopping-icon {
            color: $white;
            z-index: 2;
            font-size: 0.8rem;
          }
        }

        .account {
          position: relative;
          @include display-flex();

          .account-icon {
            margin-left: 10px;
            font-size: 1.9rem;
            cursor: pointer;
            z-index: 2;
          }

          .menu-acc {
            position: absolute;
            bottom: -75px;
            z-index: 1;
            width: 100px;
            background-color: $medium-gray;
            right: 0;
            opacity: 0;

            a {
              color: white;
              font-size: 0.9rem;
              cursor: pointer;
              width: 100%;
              text-align: center;
              z-index: 2;
              display: block;
              padding: 5px;

              &:hover {
                background-color: $semi-medium-gray;
              }
            }

            .btn-logout {
              color: white;
              font-size: 0.9rem;
              outline: none;
              background-color: transparent;
              border: none;
              cursor: pointer;
              width: 100%;
              padding: 5px;

              &:hover {
                background-color: $semi-medium-gray;
              }
            }

            .segitiga {
              width: 0;
              height: 0;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-bottom: 15px solid $medium-gray;
              top: -15px;
              position: absolute;
              background-color: transparent;
              opacity: 0;
              right: 0;

              &.active {
                opacity: 100%;
              }
            }

            &.active {
              opacity: 100%;
            }
          }
        }

        .btn-login {
          margin-left: 10px;
          padding: 6px 20px;
        }
      }
    }

    .menu {
      padding: 20px 0;
      width: 100%;
      transform: translateY(-100%);
      position: absolute;
      @include display-flex();

      a {
        text-align: center;
        font-size: 1.1rem;
        padding: 10px 0;
        width: 100%;
        cursor: pointer;

        &:hover {
          background-color: $light-gray-line-details;
        }
      }

      &.active {
        transform: translateY(0);
        position: static;
      }
    }
  }
}

@include breakpoint(tablet) {
  .navbar {
    padding: 20px 30px 40px 30px;

    .menu-wrapper {
      .button-wrapper {
        .menu-bars {
          .menu-bars-icon {
            font-size: 1.9rem;
          }
        }

        .btn-right {
          .shopping-bag {
            width: 40px;
            height: 40px;

            .shopping-icon {
              font-size: 1rem;
            }
          }

          .account {
            .account-icon {
              font-size: 2.5rem;
            }

            .menu-acc {
              right: -5px;
              width: 150px;
              bottom: -110px;

              a,
              .btn-logout {
                padding: 10px;
                font-size: 1rem;
              }

              .segitiga {
                right: 0;
                top: -20px;
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                border-bottom: 20px solid $medium-gray;
              }
            }
          }
        }
      }
    }
  }
}

@include breakpoint(laptop) {
  .navbar {
    .brand-name {
      font-size: 2.5rem;
    }

    .menu-wrapper {
      position: relative;

      .button-wrapper {
        position: absolute;
        right: 30px;
        top: 0;
        width: auto;

        .menu-bars {
          display: none;
        }
      }

      .menu {
        padding: 0;
        width: auto;
        transform: none;
        position: static;
        @include display-flex(center, center, row);

        a {
          width: 130px;
        }
      }
    }
  }
}
