.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    margin-top: 7px;
  }

  @at-root #{&}__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
  }

  @at-root #{&}__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }

  @at-root #{&}__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
  }

  @at-root #{&}__google {
    background-color: #4285f4;
  }
}
