@import "mixins";
@import "variables";

.sale {
  @include display-flex();
  position: relative;
  height: 100%;

  .sale-product {
    margin: 10px 0 20px 0;
    position: relative;
    right: 80px;

    p {
      @include page-title();
    }
    span {
      @include page-line();
    }
  }

  .sale-products {
    @include display-grid(40px 0, auto, auto, none);
  }
}
