.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.about-us .about {
  width: 100%;
  padding: 0 30px;
}

.about-title {
}

.about-title p {
  font-size: 1.1rem;
  font-family: "Prompt", sans-serif;
}

.about-title span {
  margin-top: 5px;
  background-color: #c4d9d5;
  display: block;
  width: 150px;
  height: 3px;
}

.image-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.3fr 1.3fr;
  grid-template-areas: "about-1 about-2" "about-1 about-3";
  gap: 0;
  margin: 30px 0 15px 0;
}

.image-wrapper .about-1 {
  grid-area: about-1;
  width: 100%;
}

.image-wrapper .about-2 {
  grid-area: about-2;
  width: 100%;
  align-self: stretch;
}

.image-wrapper .about-3 {
  grid-area: about-3;
  width: 100%;
  align-self: stretch;
}

.about-description {
  font-size: 0.8rem;
}
