.item-keranjang {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  width: 100%;
  display: grid;
  grid-template-columns: "1fr 4fr";
  grid-template-rows: "auto";
  grid-template-areas: "photo description" "action action";
  gap: 20px 10px;
}

.item img {
  grid-area: photo;
  width: 80px;
}

.item-details span {
  display: block;
}

.item .item-details {
  grid-area: description;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 5px 0;
}

.item-details .stock {
  padding: 0 5px;
  justify-self: start;
  font-size: 0.8rem;
  color: white;
  background-color: #343434;
}

.item .action {
  grid-area: action;
  display: grid;
  grid-template-columns: "9fr 1fr";
  grid-template-rows: auto;
  grid-template-areas: "edit delete";
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.action .input-quantity {
  grid-area: edit;
  width: 100px;
}

.action .btn-delete {
  background-color: transparent;
  border: none;
  grid-area: delete;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
}

.action .btn-delete:hover {
  background-color: #343434;
  color: white;
}

.btn-delete svg {
  font-size: 1rem;
}

.line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #c4c4c4;
  margin: 15px 0 0 0;
}
