.modal-size-wrapper.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-size-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 60px 25px 50px 20px;
  top: 0;
  left: 0;
  display: none;
  transition: 1s ease;
  min-height: 100vh;
  z-index: 1;
  width: 100%;
}

.modal-size {
  border-radius: 10px;
  width: 300px;
  background-color: white;
  padding: 60px 30px 30px 30px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "pick" "s" "m" "l";
  gap: 10px 0;
  position: relative;
  font-family: "Prompt", sans-serif;
}

.modal-size .modal-title {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.modal-size .btn-back {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

.modal-size .btn-back:hover {
  background-color: #dfdede;
}

.modal-size .btn-size {
  width: 100%;
  padding: 2px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #6b6767;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.modal-size .btn-size:hover {
  background-color: #f1f1f1;
}

.btn-size input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

button span {
  display: block;
}
