.navbar {
  width: 100%;
  padding: 20px 30px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.brand-name {
  font-family: "Love";
  margin-bottom: 30px;
}

.menu-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-wrapper .menu-bars {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-bars .menu-bars-icon {
  font-size: 1.5rem;
}

.shopping-bag {
  cursor: pointer;
  background-color: black;
  border: none;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  /* right: 0;
  bottom: -5px; */
}

.shopping-icon {
  color: white;
  z-index: 2;
  font-size: 0.8rem;
}

.menu {
  /* display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 450px; */
  padding: 20px 0;
  width: 100%;
  transform: translateY(-100%);
  position: absolute;
  /* position: static; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu.active {
  transform: translateY(0);
  position: static;
}

.menu a {
  text-align: center;
  font-size: 1.1rem;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
}

.menu a:hover {
  background-color: #c4c4c4;
}

/* .menu-bars.non-actiive {
  display: none;
} */

@media screen and (min-width: 900px) {
  .navbar {
    margin: 40px 60px 50px 40px;
  }

  .menu {
    display: flex;
  }

  .shopping-bag {
    position: absolute;
    width: 40px;
    height: 40px;
  }

  .shopping-icon {
    font-size: 1rem;
  }
}
