.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

img {
  width: 300px;
}

h2 {
  margin: 20px 0 30px 0;
  color: #365953;
}

.back-to-home {
  background-color: #365953;
  color: white;
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 5px;
  border: 3px solid #365953;
  cursor: pointer;
}

.back-to-home:hover {
  background-color: white;
  color: #365953;
}
