.product-card {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: auto;
  grid-template-areas: "desc" "button";
  gap: 10px 0;
  font-family: "Prompt", sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
}

.product-card a {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: auto;
  grid-template-areas: "img" "price" "name";
  gap: 10px 0;
  grid-area: desc;
}

.product-card img {
  grid-area: img;
  width: 100%;
}

.product-card .harga {
  grid-area: price;
}

.product-card .product-name {
  font-size: 0.8rem;
  font-weight: 400;
  grid-area: name;
}

.product-card button {
  grid-area: button;
  width: auto;
  justify-self: center;
  margin-top: 10px;
}
