.sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.sale-product {
  margin: 10px 0 20px 0;
  position: relative;
  right: 80px;
}

.sale-product p {
  font-size: 1.1rem;
  font-family: "Prompt", sans-serif;
}

.sale-product span {
  margin-top: 5px;
  background-color: #c4d9d5;
  display: block;
  width: 150px;
  height: 3px;
}

.products {
  display: grid;
  gap: 40px 0;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
